@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");

:root {
  /* font-family: "Noto Sans Display", sans-serif;
  font-family: "Noto Sans TC", sans-serif; */
  --bg-1: #f8f8f8;
  --bg-2: #e0e0e0;
  --bg-3: #fdfdfd;
  --bg-blue: #537dd9;
  --bg-yellow: #ffb100;
  --text-1: #646464;
  --text-2: #2a2a2a;
}
body.dark {
  --bg-1: #646464;
  --bg-2: #555555;
  --bg-3: #323232;
  --bg-blue: #ffb100;
  --bg-yellow: #537dd9;
  --text-1: #f8f8f8;
  --text-2: #e0e0e0;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Noto Sans Display";
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
/* nav */
nav {
  width: 270px;
  background-color: var(--bg-1);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: all 0.3s ease;
}
nav .logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-70%, 0);
  font-size: 21px;
  text-transform: capitalize;
  color: var(--bg-blue);
}
nav .logo::after {
  content: "";
  position: absolute;
  top: 70px;
  left: -20px;
  width: 150px;
  height: 5px;
  background-color: var(--bg-yellow);
  transform: rotate(-30deg);
}
nav.open {
    left: 0;
}
nav .nav-toggler {
  height: 30px;
  width: 30px;
  /* border: 1px solid var(--bg-black-50); */
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-blue);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .nav-toggler span {
  height: 2px;
  width: 18px;
  background-color: var(--bg-1);
  display: inline-block;
  position: relative;
  left: 0px;
  top: -1px;
}
nav .nav-toggler.open span {
  background-color: transparent;
}
nav .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--bg-1);
  position: absolute;
  top: -6px;
  left: 0;
}
nav .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
nav .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--bg-1);
  position: absolute;
  top: 6px;
  left: 0;
}
nav .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}
nav .nav-list ul {
  list-style: none;
}
nav .nav-list ul li {
  margin: 24px 0;
}
nav .nav-list ul li a {
  color: var(--bg-blue);
  font-size: 17px;
  font-weight: 700;
  display: block;
  padding: 12px;
}
nav .nav-list ul li a.active {
  background-color: var(--bg-blue);
  color: var(--bg-1);
  border-radius: 5px;
}
nav .nav-list ul li a:hover {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}
nav .nav-list ul li a i {
  margin: 0 15px 0 0;
}
/* section base */
.z-10 {
  z-index: 10 !important;
}
.hidden {
  display: none !important;
}
.section {
  background-color: var(--bg-3);
  /* background-color: #ffb100;  */
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  /* background-color: #768199; */
  z-index: 1;
  padding: 100px 0;
  position: relative;
}
.textcontainer {
  display: flex;
  align-items: center;
  min-height: 60vh;
  position: relative;
  /* background-color: #323232; */
}
.textcontainer::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 5px;
  background-color: var(--bg-yellow);
  transform: rotate(-30deg);
}
.section .container .title {
  color: var(--bg-yellow);
  font-size: 30px;
  padding: 0 0 60px 20px;
  position: relative;
}
.section .container .title::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 5px;
  height: 100px;
  background-color: var(--bg-yellow);
  /* transform: rotate(-30deg); */
}
.row {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}
.row-3 {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px;
  gap: 5px;
}
.row-item2 {
  padding: 20px;
}

/* introduce */
.introduce-text h1,
.introduce-text p {
  display: block;
  padding: 20px 0;
  color: var(--text-2);
}
.introduce-text h1 span {
  color: var(--bg-blue);
  font-size: 33px;
  margin: 0 5px;
}
.introduce-img {
  text-align: center;
}
.introduce-text img {
  max-height: 300px;
}
.contant {
  margin: 20px 0;
}
.contantitem {
  padding: 0;
}
.contantitem i {
  padding: 5px;
  color: var(--bg-blue);
}
.contantitem span {
  color: var(--text-1);
}
.row-con {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* about */
.about-text h1 {
  padding: 10px 0;
  color: var(--text-2);
}
.about-text h1 i {
  padding: 0 10px 0 0;
}
.about .workitem {
  position: relative;
  padding: 15px;
  /* margin-bottom: 10px; */
}
.about .workitem h3 {
  color: var(--text-2);
  padding: 0 0 10px 0;
}
.about .workitem h2 span {
  color: var(--text-1);
  font-size: 15px;
  font-weight: 400;
}
.about .workitem h3::before {
  content: "";
  height: 83%;
  width: 3px;
  left: 0px;
  top: 27px;
  position: absolute;
  background-color: var(--bg-blue);
}
.about .workitem h2 {
  color: var(--bg-blue);
  font-size: 23px;
}
.about .workitem p {
  color: var(--text-1);
  font-weight: 500;
}
.about .educationitem {
  position: relative;
  padding: 15px;
}
.about .educationitem h3 {
  color: var(--text-2);
}
.about .educationitem h2 span {
  color: var(--text-1);
  font-size: 15px;
  font-weight: 400;
}
.about .educationitem h3::before {
  content: "";
  height: 65%;
  width: 3px;
  left: 0px;
  top: 27px;
  position: absolute;
  background-color: var(--bg-blue);
}
.about .educationitem h2 {
  color: var(--bg-blue);
  font-size: 23px;
}
.about .educationitem p {
  color: var(--text-1);
  font-weight: 500;
}
.about .educationitem:nth-child(3) {
  margin-bottom: 40px;
}
.about .skilitem h2 {
  color: var(--bg-blue);
  padding: 15px 0;
}
.about .skilitem .skilitems {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .skilitem .skilitems div {
  display: flex;
  align-items: center;
  padding: 5px;
  color: var(--text-1);
}
.about .skilitem .skilitems img {
  height: 30px;
  margin-right: 5px;
}
.about .skilitem .webskil {
  line-height: 20px;
  color: var(--text-1);
}

/* portfolio */
.portfolioitem {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.5s;
}
.front {
  transform: rotateY(0deg);
}
.front img {
  width: 100%;
}
.back {
  background-color: var(--bg-1);
  transform: rotateY(-180deg);
  padding: 15px;
  position: relative;
}
.back a {
  height: 100%;
  display: block;
}
.back h3 {
  margin-top: 40%;
  margin-bottom: 5%;
  color: var(--bg-blue);
}
.back p {
  color: var(--text-1);
}
.back h3::after {
  content: "";
  height: 20px;
  width: 2px;
  position: absolute;
  background-color: var(--bg-blue);
  transform: rotate(-60deg);
  left: 88%;
  top: 43%;
}
.portfolioitem:hover .front {
  transform: rotateY(180deg); /*當hover時，front從正面轉到背面*/
}
.portfolioitem:hover .back {
  transform: rotateY(0deg); /*當hover時，back從背面轉到正面*/
}
/* darkswitch */
.style-switcher {
  position: absolute;
  z-index: 10;
  right: 50px;
  top: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--text-2);
  color: var(--bg-3);
}
.style-switcher .fas {
  padding: 7px;
}
@media (max-width: 1200px) {
  nav {
    left: -270px;
    
  }
  nav .nav-toggler {
    display: flex;
    left: 30px;
  }
  .section {
    left: 0;
  }
}
@media (max-width: 990px) {
  .row-con {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 760px) {
  .row {
    grid-template-columns: 1fr;
  }
  .row-3 {
    grid-template-columns: 1fr;
  }
}
